.lock {
    display: inline-block;
    text-align: center;
    margin: 0 5px;
}
.plus {
    background: url(../../../image/up.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 33px;
    background-position: center;
    height: 33px;
    display: block;
    cursor: pointer;
    opacity: .75;
}
.plus:hover, .minus:hover {
    opacity: 1;
    transition: all .5s ease;
}
.minus {
    background: url(../../../image/down.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 33px;
    background-position: center;
    height: 33px;
    display: block;
    cursor: pointer;
    opacity: .75;
}
.code {
    width: 25px;
    height: 25px;
    font-size: 21px;
    text-align: center;
    display: block;
}